h1{
    
    text-align: center;
    margin: 25px auto;
}
#len{
    position: relative;
    left: 33%;
    width: 300px;
    height: 50px;
}
.btn{
    position: relative;
    left: 39%;
    height: 50px;

}
.end p{
    text-align: center;
}
button{
    position: relative;
    width:400px;
    height: 50px;
    background-color: purple;
    color: white;
    border-radius: 10px;
    margin:  0 auto;
    left: 730px;

}
.hidden{
    display: none;
    margin: auto;

}
.timer{
    position: relative;
    left: 49%;
}

.question{
    text-align:center;
    font-size: 30px;
    font-weight: 600;

}
.display{
    display: flex;
    position: relative;
    font-size: 20px;
    border-top:5px solid black;
    margin:25px 46%;
}
.right{
    margin: 0 10px;
    font-style: italic;
    opacity: 69%;
}

.end{
    display:none;
    color:green;
}
#sub{
    left:660px;
}
.final{
    display: none;
    text-align: center;

}
.final p{
    border: 5px black solid;
    width: 200px;
    left: 43%;
    position: relative;
    font-size: 20px;
    font-weight: bold;
}